@import '@/assets/styles/nprogress.scss';
@import '@/assets/styles/markdown.scss';
@import '@/assets/styles/dark.scss';
@import "@/assets/styles/variables.scss";

#app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}